@import "antd/dist/antd.css";
.header {
  background-color: #3f51b5;
  display: flex;
}
.menu {
  margin-top: 25px;
  background-color: white;
  height: 20px;
  font-size: 20px;
}
/* .searchIcon {
  margin-top: 10px;
  margin-left: 5%;
} */
.search {
  margin-left: 4%;
  margin-top: 15px;
  border-radius:5px;
  background-color:white;
  width:250px;
  height:30px;
}
.input {
  border-color:transparent;
  height: 35px;
  width:250px;
}
.email {
  margin-left:66%;
  margin-top: 20px;
  /* height: 70px; */
  /* width: 30px; */
  font-size: 20px;
  /* background-color:white; */
  height:3px;
  /* border-radius: 20px; */
}
.Button_Circle {
  background-color: red;
}   
.icon {
    font-size:40;
    color: '#08c'
}
.notification {
  margin-top: 20px;
  font-size: 20px;
  margin-left:20px;
  /* background-color:white; */
  height:20px;
  border-radius: 20px;
}
.userIcon {
  margin-top: 20px;
  margin-left:20px;
  font-size: 20px;
  height: 22px;
  border-radius: 30px;
  background-color: white;
}
.layout {
  flex-direction: row;
}
.first {
  background-color: white;
  width: 7%;
  height: 1080px;
}
.border {
  width:0.5px;
  background-color:"rgba(0, 0, 0, 0.99)";
  height: 1080;
}
.second {
  margin-left: 5px;
  background-color: white;
  width: 13%;
  height: 1080px;
}
.filter {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width:120px;
  height:20px;
}
.third {
  background-color: white;
  width: 80%;
  height: 1100px;
}
.slider {
  width:150px;
}
.ant-slider-track {
    height: 2px;
}
.checkbox {
  margin-top: 22px;
  border-color: red;
  border-width:5px;
}
.fontCommon {
font-size:16px;
margin-top:10px;
}
.card1 {
  height: 450px;
  background-color: #fff;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.22);
  margin-left: 30px;
  border-radius: 15px;
}
.div1 {
  display:flex;
}
.spa {
  margin-left: 20px;
  border-width: 10px;
  width: 35px;
  height: 30px;
  border-radius: 20px;
}
.button {
  border-radius: 20px;
  background-color: #fff;
  margin-left:10px;
}

